@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
} */

@layer base {
  /* * {
    @apply text-white
  } */
  h1 {
    @apply mb-8 !important;
  }
  h2 {
    @apply mb-6 ;
  }
  h3 {
    @apply mb-6;
  }
  h4 {
    @apply mb-4;
  }
  h5 {
    @apply mb-4;
  }
  h6 {
    @apply text-2xl mb-4;
  }
  /* .button-black {
    @apply py-2 px-4 rounded-md no-underline bg-btn-background hover:bg-btn-background-hover;
  }  */
  .button-gray-border {
    @apply border border-gray-700 rounded px-4 py-2 mb-2;
  } 
  .button-green {
    @apply bg-green-700 rounded px-4 py-2 mb-2;
  }
  .button-gray {
    @apply bg-gray-500 rounded px-4 py-2 mb-2;
  }
  .signUp-form {
    @apply flex flex-col max-w-[450px];
  } 
  .input-text {
    @apply rounded-md px-4 py-2 bg-inherit border mb-6
  } 
  .text-small {
    @apply text-xs
  }
  .navbutton {
    @apply px-6 py-2 mx-2 my-5 border border-gray-300 rounded-2xl text-black
  }
}


/* .animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */
